(
  resources: {},
  entities: {
    4294966697: (
      components: {
        "avian3d::collision::collider::constructor::ColliderConstructorHierarchy": (
          default_constructor: Some(ConvexHullFromMesh),
          default_layers: (
            memberships: (1),
            filters: (4294967295),
          ),
          default_density: (1.0),
          config: {},
        ),
        "avian3d::dynamics::integrator::VelocityIntegrationData": (
          linear_increment: (0.0, 0.0, 0.0),
          angular_increment: (0.0, 0.0, 0.0),
          linear_damping_rhs: 0.0,
          angular_damping_rhs: 0.0,
        ),
        "avian3d::dynamics::rigid_body::AngularDamping": (1.0),
        "avian3d::dynamics::rigid_body::AngularVelocity": ((0.0, 0.0, 0.0)),
        "avian3d::dynamics::rigid_body::LinearDamping": (0.2),
        "avian3d::dynamics::rigid_body::LinearVelocity": ((0.0, 0.0, 0.0)),
        "avian3d::dynamics::rigid_body::RigidBody": Dynamic,
        "avian3d::dynamics::rigid_body::forces::AccumulatedLocalAcceleration": (
          linear: (0.0, 0.0, 0.0),
          angular: (0.0, 0.0, 0.0),
        ),
        "avian3d::dynamics::rigid_body::forces::ConstantForce": ((0.0, 98100.0, 0.0)),
        "avian3d::dynamics::rigid_body::mass_properties::components::Mass": (10000.0),
        "avian3d::dynamics::rigid_body::mass_properties::components::NoAutoMass": (),
        "avian3d::dynamics::rigid_body::mass_properties::components::computed::ComputedAngularInertia": (
          inverse: (
            m00: 0.0,
            m01: 0.0,
            m02: 0.0,
            m11: 0.0,
            m12: 0.0,
            m22: 0.0,
          ),
        ),
        "avian3d::dynamics::rigid_body::mass_properties::components::computed::ComputedCenterOfMass": ((0.0, 0.0, 0.0)),
        "avian3d::dynamics::rigid_body::mass_properties::components::computed::ComputedMass": (
          inverse: 0.0,
        ),
        "avian3d::dynamics::rigid_body::sleeping::SleepThreshold": (
          linear: 0.15,
          angular: 0.15,
        ),
        "avian3d::dynamics::rigid_body::sleeping::SleepTimer": (0.0),
        "avian3d::dynamics::solver::solver_body::SolverBody": (
          linear_velocity: (0.0, 0.0, 0.0),
          angular_velocity: (0.0, 0.0, 0.0),
          delta_position: (0.0, 0.0, 0.0),
          delta_rotation: ((0.0, 0.0, 0.0, 1.0)),
          flags: (0),
        ),
        "avian3d::dynamics::solver::solver_body::SolverBodyInertia": (
          inv_mass: 0.0,
          effective_inv_angular_inertia: (
            m00: 0.0,
            m01: 0.0,
            m02: 0.0,
            m11: 0.0,
            m12: 0.0,
            m22: 0.0,
          ),
          dominance: 128,
          flags: (192),
        ),
        "avian3d::physics_transform::transform::Position": ((0.0, 1500.0, 0.0)),
        "avian3d::physics_transform::transform::PreSolveDeltaPosition": ((0.0, 0.0, 0.0)),
        "avian3d::physics_transform::transform::PreSolveDeltaRotation": (((0.0, 0.0, 0.0, 1.0))),
        "avian3d::physics_transform::transform::Rotation": ((0.0, 0.0, 0.0, 1.0)),
        "bevy_camera::visibility::InheritedVisibility": (false),
        "bevy_camera::visibility::ViewVisibility": (0),
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_ecs::hierarchy::ChildOf": (4294966707),
        "bevy_ecs::hierarchy::Children": ([
          4294966705,
        ]),
        "bevy_ecs::name::Name": "examples::airship",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1500.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 1500.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "bevy_transform::components::transform::TransformTreeChanged": (),
        "bevy_world_serialization::components::WorldAssetRoot": (Path("alias://examples::airship#Scene0")),
        "big_space::grid::cell::CellCoord": (
          x: 0,
          y: 0,
          z: 0,
        ),
        "ename_engine::bigspace::camera::FloatingOriginCandidate": (0),
        "ename_engine::stage::identity::StageMember": (("8d267113-91f2-48c5-ba39-54577a6e2e19")),
        "example_game_lib::airship::AirshipMovement": (
          thrust_forward: 600000.0,
          thrust_vertical: 400000.0,
          turn_torque: 500000.0,
        ),
      },
    ),
    4294966698: (
      components: {
        "avian3d::collision::collider::constructor::ColliderConstructorHierarchy": (
          default_constructor: Some(TrimeshFromMesh),
          default_layers: (
            memberships: (1),
            filters: (4294967295),
          ),
          default_density: (1.0),
          config: {},
        ),
        "avian3d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::InheritedVisibility": (false),
        "bevy_camera::visibility::ViewVisibility": (0),
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_ecs::hierarchy::ChildOf": (4294966707),
        "bevy_ecs::name::Name": "examples::map",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 0.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "bevy_transform::components::transform::TransformTreeChanged": (),
        "bevy_world_serialization::components::WorldAssetRoot": (Path("alias://examples::map#Scene0")),
        "big_space::grid::cell::CellCoord": (
          x: 0,
          y: 0,
          z: 0,
        ),
        "ename_engine::stage::identity::StageMember": (("8d267113-91f2-48c5-ba39-54577a6e2e19")),
      },
    ),
    4294966705: (
      components: {
        "bevy_camera::camera::Camera": (
          viewport: None,
          order: 0,
          is_active: true,
          computed: (
            clip_from_view: (1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0),
            target_info: None,
            old_viewport_size: None,
            old_sub_camera_view: None,
          ),
          output_mode: Write(
            blend_state: None,
            clear_color: Default,
          ),
          msaa_writeback: Auto,
          clear_color: Default,
          invert_culling: false,
          sub_camera_view: None,
        ),
        "bevy_camera::camera::RenderTarget": Window(Primary),
        "bevy_camera::components::Camera3d": (
          depth_load_op: Clear(0.0),
          depth_texture_usages: (16),
        ),
        "bevy_camera::primitives::Frustum": ((
          half_spaces: ((
            normal_d: (0.0, 0.0, 0.0, 0.0),
          ), (
            normal_d: (0.0, 0.0, 0.0, 0.0),
          ), (
            normal_d: (0.0, 0.0, 0.0, 0.0),
          ), (
            normal_d: (0.0, 0.0, 0.0, 0.0),
          ), (
            normal_d: (0.0, 0.0, 0.0, 0.0),
          ), (
            normal_d: (0.0, 0.0, 0.0, 0.0),
          )),
        )),
        "bevy_camera::projection::Projection": Perspective((
          fov: 0.7853982,
          aspect_ratio: 1.0,
          near: 0.1,
          far: 1000.0,
          near_clip_plane: (0.0, 0.0, -1.0, -0.1),
        )),
        "bevy_camera::visibility::InheritedVisibility": (false),
        "bevy_camera::visibility::ViewVisibility": (0),
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_camera::visibility::VisibleEntities": (),
        "bevy_core_pipeline::tonemapping::DebandDither": Enabled,
        "bevy_core_pipeline::tonemapping::Tonemapping": TonyMcMapface,
        "bevy_ecs::hierarchy::ChildOf": (4294966697),
        "bevy_ecs::name::Name": "Main Camera",
        "bevy_pbr::transmission::ScreenSpaceTransmission": (
          steps: 1,
          quality: Medium,
        ),
        "bevy_render::sync_world::SyncToRenderWorld": (),
        "bevy_render::view::ColorGrading": (
          global: (
            exposure: 0.0,
            temperature: 0.0,
            tint: 0.0,
            hue: 0.0,
            post_saturation: 1.0,
            midtones_range: (
              start: 0.2,
              end: 0.7,
            ),
          ),
          shadows: (
            saturation: 1.0,
            contrast: 1.0,
            gamma: 1.0,
            gain: 1.0,
            lift: 0.0,
          ),
          midtones: (
            saturation: 1.0,
            contrast: 1.0,
            gamma: 1.0,
            gain: 1.0,
            lift: 0.0,
          ),
          highlights: (
            saturation: 1.0,
            contrast: 1.0,
            gamma: 1.0,
            gain: 1.0,
            lift: 0.0,
          ),
        ),
        "bevy_render::view::Msaa": Sample4,
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 30.0, 65.0),
          rotation: (-0.15170585, 0.0, 0.0, 0.98842657),
          scale: (1.0, 1.0, 1.0),
        ),
        "bevy_transform::components::transform::TransformTreeChanged": (),
        "ename_engine::camera::MainCamera": (),
        "ename_engine::stage::identity::StageMember": (("8d267113-91f2-48c5-ba39-54577a6e2e19")),
      },
    ),
    4294966706: (
      components: {
        "bevy_camera::primitives::CascadesFrusta": (
          frusta: ({}),
        ),
        "bevy_camera::visibility::CascadesVisibleEntities": (),
        "bevy_camera::visibility::InheritedVisibility": (false),
        "bevy_camera::visibility::ViewVisibility": (0),
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_ecs::hierarchy::ChildOf": (4294966707),
        "bevy_light::cascade::CascadeShadowConfig": (
          bounds: [
            10.0,
            24.66212,
            60.82202,
            149.99998,
          ],
          overlap_proportion: 0.2,
          minimum_distance: 0.1,
        ),
        "bevy_light::cascade::Cascades": (
          cascades: ({}),
        ),
        "bevy_light::directional_light::DirectionalLight": (
          color: LinearRgba((
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          )),
          illuminance: 1000.0,
          shadow_maps_enabled: true,
          contact_shadows_enabled: false,
          affects_lightmapped_mesh_diffuse: true,
          shadow_depth_bias: 0.02,
          shadow_normal_bias: 1.8,
        ),
        "bevy_render::sync_world::SyncToRenderWorld": (),
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (5.0, 5.0, 5.0),
          rotation: (-0.27984813, 0.36470518, 0.11591689, 0.88047624),
          scale: (1.0, 1.0, 1.0),
        ),
        "bevy_transform::components::transform::TransformTreeChanged": (),
        "big_space::grid::cell::CellCoord": (
          x: 0,
          y: 0,
          z: 0,
        ),
        "ename_engine::stage::identity::StageMember": (("8d267113-91f2-48c5-ba39-54577a6e2e19")),
      },
    ),
    4294966707: (
      components: {
        "bevy_camera::visibility::InheritedVisibility": (false),
        "bevy_camera::visibility::ViewVisibility": (0),
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_ecs::hierarchy::Children": ([
          4294966706,
          4294966698,
          4294966697,
        ]),
        "bevy_ecs::name::Name": "Grid",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0)),
        "big_space::floating_origins::BigSpace": (
          floating_origin: None,
        ),
        "big_space::grid::Grid": (
          local_floating_origin: (
            cell: (
              x: 0,
              y: 0,
              z: 0,
            ),
            translation: (0.0, 0.0, 0.0),
            rotation: (0.0, 0.0, 0.0, 1.0),
            grid_transform: (1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0),
            is_local_origin_unchanged: false,
          ),
          cell_edge_length: 2000.0,
          maximum_distance_from_origin: 1100.0,
        ),
        "big_space::stationary::GridDirtyTick": (0),
        "ename_engine::stage::identity::StageId": ("8d267113-91f2-48c5-ba39-54577a6e2e19"),
        "ename_engine::stage::identity::StageMember": (("8d267113-91f2-48c5-ba39-54577a6e2e19")),
      },
    ),
  },
)
